@charset "utf-8";
.home {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.home .borderContainer {
  border-radius: 20px;
  border: 1px solid #3983CC;
  padding: 20px 0;
  background-color: #3983CC;
  margin-bottom: 20px;
}
.home .borderContainer .image {
  text-align: center;
  margin-bottom: 20px;
}
.home .borderContainer .title {
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.roundHeader {
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
  background-color: #3983CC;
  color: #fff;
  font-size: 16px;
}
.loading {
  margin-top: 30%;
  text-align: center;
}
.play {
  margin-left: 20px;
  margin-right: 20px;
}
.play div.image {
  margin-bottom: 10px;
  text-align: center;
}
.play div.image img {
  border: 1px solid #999;
  padding: 2px;
  width: 30%;
}
button {
  height: 40px;
  margin: 5px 0;
  width: 100%;
  font-size: 16px;
  border: 1px solid #CCC;
  background-image: -webkit-linear-gradient(#ffffff, #cccccc);
}
button.correct {
  color: #fff;
  border: 1px solid #77AF0F;
  background-image: -webkit-linear-gradient(#b2db64, #7ebc0a, #77af0f);
}
button.incorrect {
  color: #fff;
  border: 1px solid #AD1B1B;
  background-image: -webkit-linear-gradient(#e45050, #d52020, #ad1b1b);
}
body {
  min-width: 280px;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial;
  font-size: 14px;
  background-color: #F9F9F9;
}
h1 {
  text-align: center;
}
.resultsHeader {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: #3983CC;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  height: 20px;
  min-width: 280px;
}
.resultsHeader button {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 12px;
  width: auto;
  height: auto;
  margin: 0 0 0 10px;
  padding: 5px;
}
.actions {
  min-width: 280px;
  background-color: #f9f9f9;
  top: 40px;
  left: 0;
  position: fixed;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.actions .content {
  margin-right: 35px;
}
.resultsTable {
  margin-top: 180px;
}
.resultsTable table {
  color: #333;
  width: 100%;
}
.resultsTable table tr:nth-child(odd) {
  background-color: #eee;
}
.resultsTable table tr {
  margin: 0;
  padding: 0;
}
.resultsTable table tr td {
  height: 100px;
}
.resultsTable table tr td .icon-ok {
  color: green;
  font-size: 30px;
}
.resultsTable table tr td .icon-remove {
  font-size: 30px;
  color: red;
}
.resultsTable table td.image {
  text-align: center;
  border-right: 3px solid #666;
  width: 100px;
}
.resultsTable table td.name {
  border-right: 3px solid #666;
  width: 150px;
  padding-left: 20px;
}
.resultsTable table td.result {
  padding-left: 10px;
  width: 30px;
}
