
.resultsHeader {
   margin-bottom:10px;
   text-align:center;
   background-color:#3983CC;
   color:#fff;
   font-size:16px;
   padding: 10px 0;

   button {
      position:absolute;
      left:5px;
      top:5px;
      font-size:12px;
      width:auto;
      height:auto;
      margin:0 0 0 10px;
      padding: 5px
   }
}

.resultsTable {
   display:table;
   width:auto;
   text-align: center;
   .row {
      display:table-row;
      width:auto;
      clear:both;

      .image {
         img {
            width:80%;
         }

         border-bottom:1px solid #333;
         border-right:1px solid #333;
         width:100px;
         float:left;
         display:table-column;
      }

      .name {
         padding:20px 0;
         width:150px;
         border-bottom:1px solid #333;
         border-right:1px solid #333;
         float:left;
         display:table-column;

      }
      .result {
         padding:20px 0;
         width:50px;
         float:left;
         display:table-column;
         border-bottom:1px solid #333;

      }
   }
}
