.resultsHeader {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: #3983CC;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  height: 20px;
  min-width: 280px;
}
.resultsHeader button {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 12px;
  width: auto;
  height: auto;
  margin: 0 0 0 10px;
  padding: 5px;
}
.actions {
  min-width: 280px;
  background-color: #f9f9f9;
  top: 40px;
  left: 0;
  position: fixed;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.actions .content {
  margin-right: 35px;
}
.resultsTable {
  margin-top: 180px;
}
.resultsTable table {
  color: #333;
  width: 100%;
}
.resultsTable table tr:nth-child(odd) {
  background-color: #eee;
}
.resultsTable table tr {
  margin: 0;
  padding: 0;
}
.resultsTable table tr td {
  height: 100px;
}
.resultsTable table tr td .icon-ok {
  color: green;
  font-size: 30px;
}
.resultsTable table tr td .icon-remove {
  font-size: 30px;
  color: red;
}
.resultsTable table td.image {
  text-align: center;
  border-right: 3px solid #666;
  width: 100px;
}
.resultsTable table td.name {
  border-right: 3px solid #666;
  width: 150px;
  padding-left: 20px;
}
.resultsTable table td.result {
  padding-left: 10px;
  width: 30px;
}
